<div class="flex justify-center items-center h-full bg-gradient-to-r from-gray-900 to-gray-950 relative">

  <div class="w-[600px] h-[600px] grid place-items-center">
    <div *ngIf="checkButVisibility">
      <button
        *ngIf="!checkedIn"
        (click)="onCheckIn()"
        class="w-64 h-64 checkin-button text-white rounded-full border-2 border-gray-700
        hover:border-gray-500 hover:bg-gray-700 shadow-2xl transition-transform transform-gpu hover:scale-105
        active:scale-95 active:bg-gray-400">
        Check In
      </button>
      <button
        *ngIf="checkedIn"
        (click)="onCheckOut()"
        class="w-64 h-64 checkin-button text-white rounded-full border-2 border-gray-700
        hover:border-gray-500 shadow-2xl transition-transform transform-gpu hover:scale-105
        active:scale-95 active:bg-gray-400">
        Check Out
      </button>
    </div>

    <app-camera
      *ngIf="cameraVisibility"
      (getResponse)="handleResponse($event)"
      [action]="logType"
      class="">
    </app-camera>
  </div>

</div>
