<div class="w-full min-h-full bg-gray-900 p-5">
  <div class="text-gray-300 font-kanit text-2xl mb-2">
    COMPLAINTS :
  </div>
  <form #complaintForm="ngForm" (ngSubmit)="submitComplaint()" class=" p-8 border border-yellow-700 rounded-md shadow-md bg-gray-900 grid grid-cols-1 md:grid-cols-2 gap-4 hover:border-purple-700">
    
    <div class="form-group mb-4">
    <label for="title" class="text-white">Title:</label>
    <input type="text" id="title" name="title" [(ngModel)]="complaint.title" required placeholder="Enter Title" class="w-full rounded-md  p-2 focus:outline-none focus:ring-1 focus:ring-purple-500 bg-gray-700 text-white">
    <div *ngIf="complaintForm.controls['title']?.hasError('required') && complaintForm.controls['title']?.touched" class="text-red-700">
      *Title is required.
    </div>
  </div>
  <div class="form-group mb-4 ">
    <label for="to" class="text-white">To:</label>
    <select id="to" name="to" [(ngModel)]="complaint.to" required class="w-full rounded-md p-2 focus:outline-none focus:ring-1 focus:ring-purple-500 bg-gray-700 text-white">
      <option value="" disabled>Select recipient</option>
      <option value="companyAdmin">Company</option>
      <option value="departmentHead">Department</option>
    </select>
    <div *ngIf="complaintForm.controls['to']?.hasError('required') && complaintForm.controls['to']?.touched" class="text-red-700">
      *Please specify the recipients.
    </div>
  </div>

  <div class="form-group mb-4 md:col-span-2">
    <label for="description" class="text-white">Complaint Description:</label>
    <textarea id="description" name="description" minlength="10" maxlength="400" rows="10" [(ngModel)]="complaint.description" required placeholder="Enter Complaint Description" class="w-full rounded-md  p-2 focus:outline-none focus:ring-1 focus:ring-purple-500 bg-gray-700 text-white"></textarea>
    <div *ngIf="complaintForm.controls['description']?.hasError('required') && complaintForm.controls['description']?.touched" class="text-red-700">
      *Provide a description.
    </div>
  </div>

  
  <div class="form-group mb-4 ">
    <label for="attachment" class="text-white">Attachments:</label>
    <input type="file" id="attachment" name="attachment" (change)="onAttachmentChange($event)" placeholder="Attach File" class="w-full  p-2 focus:outline-none focus:ring-1 focus:ring-purple-500 bg-gray-700 text-white">
  </div>

  <div class="justify-end flex items-center ">
  <button type="submit"
  
  class="w-full py-2 px-12 rounded-md  bg-yellow-700  text-white font-medium hover:bg-gradient-to-r from-yellow-700 to-yellow-500 transition duration-500 ease-in-out md:w-44"
  [disabled]="complaintForm.invalid">
  Submit
  </button>
</div>
</form>

<div class="pt-3">
  <div class="text-gray-300 font-kanit text-2xl mb-2">
    Previous Complaints :
  </div>

</div>

<!-- <app-table-list
[tableData]="complaintsData"
></app-table-list> -->
</div>


