<div class="bg-gray-900 gap-5 flex flex-col ">

<div class=" max-w-full mx-4 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-6 gap-4  " *ngIf="loaded">
    <div class="bg-white grid sm:grid-cols-1 grid-cols-2 place-items-center ">
        <h2 class="text-center text-gray-900">department Name:</h2>
        <h2 class="text-gray-800">{{departmentData.departmentName}}</h2>
    </div>
    <div class="bg-white grid sm:grid-cols-1 grid-cols-2 place-items-center ">
        <h2 class="text-center text-gray-900">Department ID:</h2>
        <h2 class="text-gray-800">{{departmentData.departmentID}}</h2>
    </div>
    <div class="bg-white grid sm:grid-cols-1 grid-cols-2 place-items-center ">
        <h2 class="text-center text-gray-900">budget:</h2>
        <h2 class="text-gray-800">{{departmentData.budget}}</h2>
    </div> 
    <div class="bg-white grid sm:grid-cols-1 grid-cols-2 place-items-center ">
        <h2 class="text-center text-gray-900">Total Employees:</h2>
        <h2 class="text-gray-800">{{departmentData.totalEmployees}}</h2>
    </div>
    <div (click)="onPresentClick()"
     class="bg-white grid sm:grid-cols-1 grid-cols-2 place-items-center ">
        <h2 class="text-center text-gray-900">Employees present :</h2>
        <h2 class="text-green-500">{{departmentData.attendancesToday}}</h2>
    </div>
    <div class="bg-white grid sm:grid-cols-1 grid-cols-2 place-items-center ">
        <h2 class="text-center text-gray-900">Employees on leave:</h2>
        <h2 class="text-red-600">{{departmentData.leaveToday}}</h2>
</div>

</div>

<div class="text-gray-300 mx-4 flex flex-col">
    <h2>DESCIPTION:</h2>
    <h2 class=" pl-14">{{departmentData?.description}}</h2>
</div>
</div>