<div class="container bg-gray-900 min-h-full  flex flex-col gap-3 md:gap-6  max-h-full border border-yellow-800  overflow-scroll" style="overflow-x: hidden;">
    <div *ngIf="!addClicked" class="flex flex-row-reverse">
        <button (click)="addClick()" class="add-button self-end sm:mr-14 sm:mt-3 flex flex-row p-2 bg-gradient-to-r from-yellow-500 to-yellow-700 text-white rounded-md hover:bg-gradient-to-r hover:from-yellow-700 hover:to-yellow-900 transition duration-300">
            ADD &nbsp;<span class="hidden md:block"> EMPLOYEE</span>
        </button>
    </div>
    <div *ngIf="addClicked" class="p-10">
        <app-employeeform></app-employeeform>
    </div>
    <div>

        <div>
            <h1 class="text-white font-mono pl-3">Employees List :</h1>
        </div>
        <app-table-list 
            [keyID]="'userID'"
            (clickData)="onRowClick($event)"
            [tableData]="employees"
        ></app-table-list>
        <!-- Show message if there are no employees -->
        <div *ngIf="employees && employees.length === 0" class="text-red-500 p-4 text-center md:text-xl">
            *At the moment, there are no employees found. Please add an employee to any Department see them here."
        </div>
    </div>
</div>
