<!-- notifications.component.html -->

<div class="bg-gray-900 max-w-screen m-0  md:p-4 gap-9 grid-flow-row">
    <h1 class="font-kanit text-3xl text-white font-bold mb-4">Create a New Event:</h1>
    <div class="form-container grid grid-cols-2 gap-4">
        <form [formGroup]="eventForm" (ngSubmit)="createEvent()" class="grid grid-cols-2 gap-5">
            <div class="">
                <label for="title" class="block text-sm font-medium text-gray-200 mb-2">Title:</label>
                <input type="text" id="title" formControlName="title" class="input-field bg-gray-700 text-gray-200" placeholder="Event Title">
            </div>

            <div>
                <label for="eventDate" class="block mt-2 text-sm font-medium text-gray-200 mb-2">Event Date:</label>
                <input type="date" id="eventDate" formControlName="eventDate" class="input-field bg-gray-700 text-gray-200" placeholder="Select Event Date">
            </div>

            <div>
                <label for="description" class="block mt-2 text-sm font-medium text-gray-200 mb-2">Description:</label>
                <textarea id="description" formControlName="description" rows="3" class="input-field bg-gray-700 text-gray-200" placeholder="Event Description"></textarea>
            </div>

            <div>
                <label for="target" class="block mt-2 text-sm font-medium text-gray-200 mb-2">Target Audience:</label>
                <input type="text" id="target" formControlName="target" class="input-field bg-gray-700 text-gray-200" placeholder="Target Audience">
            </div>

            <div class="grid grid-cols-2 col col-span-2">
                <div>
                    <label for="recipients" class="block mt-2 text-sm font-medium text-gray-200 mb-2">Recipients:</label>
                    <select formControlName="recipients" id="recipients" class="select-field bg-gray-700 text-gray-200">
                        <option value="" disabled selected>Select Department(s)</option>
                        <option *ngFor="let department of departments" [value]="department.value">{{ department.name }}</option>
                    </select>
                </div>

                <div class="col-span-1 self-center md:pl-60">
                    <button type="submit" class="btn-primary mt-4 w-44">Create Event</button>
                </div>
            </div>
        </form>
    </div>

    <div class="flex flex-col md:mt-8">
        <h1 class="font-kanit text-3xl text-white font-bold mb-4">Upcoming Active Events:</h1>
        <div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-5 sm:px-3 md:mt-4">
            <div class="event-card bg-gray-800 text-white p-4 rounded-md hover:shadow-lg transition duration-300 ease-in-out transform hover:scale-105">
                Event 1
            </div>
            <div class="event-card bg-gray-800 text-white p-4 rounded-md hover:shadow-lg transition duration-300 ease-in-out transform hover:scale-105">
                Event 2
            </div>
        </div>

        <div class="flex flex-col col-span-2 md:mt-8">
            <h1 class="font-kanit text-3xl text-white font-bold mb-4">All Announced Events:</h1>
            <div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-5 sm:px-3 md:mt-4">
                <div class="event-card bg-gray-800 text-white p-4 rounded-md hover:shadow-lg transition duration-300 ease-in-out transform hover:scale-105">
                    Event 1
                </div>
                <div class="event-card bg-gray-800 text-white p-4 rounded-md hover:shadow-lg transition duration-300 ease-in-out transform hover:scale-105">
                    Event 2
                </div>
            </div>
        </div>
    </div>
</div>
