


<div>

    <div>
        <div class="w-full  bg-gray-900 flex flex-col justify-center  items-center">

            <div class="  md:w-6/12 md:p-8 p-2 rounded-md gap-4">
                <full-calendar [options]="calendarOptions" *ngIf="showCalendar" class="bg-white"></full-calendar>
            </div>
        
        <div class="grid grid-cols-3 gap-3">
        
            <h1 class="text-white"> <img src="./../../../../../assets/WhatsApp Image 2024-05-02 at 15.16.11_3d15a527.jpg" alt=""> Present</h1>
            <h1 class="text-white"> <img src="./../../../../../assets/WhatsApp Image 2024-05-02 at 15.16.43_ba773683.jpg" alt=""> Late </h1>
            <h1 class="text-white"> <img src="./../../../../../assets/WhatsApp Image 2024-05-02 at 15.17.31_07f16556.jpg" alt=""> Leave</h1>
        </div>
            
        
        
        </div>
        
    </div>

    <div>

        <app-table-list
        [tableData]="attendanceData"
        ></app-table-list>
    </div>
</div>