<section class="w-full min-h-full bg-gray-900 p-5 flex justify-center items-center">
  <div class=" max-w-4xl w-full bg-gray-800 p-8 rounded-lg shadow-lg ">
    <h2 class="text-3xl font-semibold text-white text-center mb-6 ">Create an Account</h2>
    <form class=" md:grid md:grid-cols-2 md:gap-14 gap-2  grid grid-cols-1" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
      <div class="mt-4">
        <label for="companyName" class="block text-sm font-medium text-gray-300">Company Name</label>
        <input type="text" id="companyName" placeholder="Enter Company Name " class="form-input mt-2 block w-full rounded-md bg-gray-700 text-white border-gray-600 h-11 pl-3  " formControlName="companyName">
        <p class="text-red-500 text-xs italic" *ngIf="signupForm.get('companyName')?.hasError('required') && signupForm.get('companyName')?.touched">Company Name is required.</p>
      </div>
      
      <div class="mt-4">
        <label for="industry" class="block text-sm font-medium text-gray-300">Industry</label>
        <input type="text" id="industry" placeholder="Enter Your Industry " class="form-input mt-2 block w-full rounded-md bg-gray-700 text-white border-gray-600 h-11 pl-3  " formControlName="industry">
        <p class="text-red-500 text-xs italic" *ngIf="signupForm.get('industry')?.hasError('required') && signupForm.get('industry')?.touched">Industry is required.</p>
      </div>

      <div class="mt-4">
        <label for="contactEmail" class="block text-sm font-medium text-gray-300">Contact Email</label>
        <input type="email" id="contactEmail" placeholder="Enter Your Email Adress " class="form-input mt-2 block w-full rounded-md bg-gray-700 text-white border-gray-600 h-11 pl-3  " formControlName="contactEmail">
        <p class="text-red-500 text-xs italic" *ngIf="signupForm.get('contactEmail')?.hasError('required') && signupForm.get('contactEmail')?.touched">Email is required.</p>
        <p class="text-red-500 text-xs italic" *ngIf="signupForm.get('contactEmail')?.hasError('email') && signupForm.get('contactEmail')?.touched">Invalid email format.</p>
      </div>

      <div class="mt-4">
        <label for="contactNumber" class="block text-sm font-medium text-gray-300">Contact Number</label>
        <input type="tel" id="contactNumber" placeholder="Enter Your Contact Number " class="form-input mt-2 block w-full rounded-md bg-gray-700 text-white border-gray-600 h-11 pl-3  " formControlName="contactNumber" pattern="[0-9]{10,}">
        <p class="text-red-500 text-xs italic" *ngIf="signupForm.get('contactNumber')?.hasError('required') && signupForm.get('contactNumber')?.touched">Contact Number is required.</p>
        <p class="text-red-500 text-xs italic" *ngIf="signupForm.get('contactNumber')?.hasError('pattern') && signupForm.get('contactNumber')?.touched">Invalid phone number.</p>
      </div>
    </div>
  
    <div>


      <div class="mt-4">
        <label for="password" class="block text-sm font-medium text-gray-300">Password</label>
        <input type="password" id="password" placeholder="Enter Your Password " class="form-input mt-2 block w-full rounded-md bg-gray-700 text-white border-gray-600 h-11 pl-3  " formControlName="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
        <p class="text-red-500 text-xs italic" *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched">Password is required.</p>
        <p class="text-red-500 text-xs italic" *ngIf="signupForm.get('password')?.hasError('pattern') && signupForm.get('password')?.touched">Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character.</p>
      </div>

      <div class="mt-4">
        <label for="confirmPassword" class="block text-sm font-medium text-gray-300">Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Enter Your Password Again For Confirmation " class="form-input mt-2 block w-full rounded-md bg-gray-700 text-white border-gray-600 h-11 pl-3  " formControlName="confirmPassword">
        <p class="text-red-500 text-xs italic" *ngIf="signupForm.get('confirmPassword')?.hasError('required') && signupForm.get('confirmPassword')?.touched">Confirm Password is required.</p>
        <p class="text-red-500 text-xs italic" *ngIf="signupForm.get('confirmPassword')?.hasError('mismatchedPasswords') && signupForm.get('confirmPassword')?.touched">Passwords do not match.</p>
      </div>


    

      <div class="mt-4">
        <label for="workingTime" class="block text-sm font-medium text-gray-300">Working Time</label>
        <select id="workingTimeStart"  placeholder="Enter "class="form-select mt-2 block w-full rounded-md bg-gray-700 text-white border-gray-600 h-11 pl-3  " formControlName="workingHours">
          <option selected disabled value="">Select Your Working Time</option>
          <option value="9:00-17:00">9 AM - 5 PM</option>
          <option value="9:30-17:30">9:30 AM - 5:30 PM</option>
          <option value="10:00-18:00">10 AM - 6 PM</option>
          <option value="10:30-17:30">10:30 AM - 6:30 PM</option>
          <option value="11:00-19:00">8 AM - 4 PM</option>
          <option value="11:30-19:30">8:30 AM - 4:30 PM</option>
          <!-- Add more options as needed -->
        </select>
        <p class="text-red-500 text-xs italic" *ngIf="signupForm.get('workingTime')?.hasError('required') && (signupForm.get('workingTime')?.touched || isSubmitted)">Working Time is required.</p>
      </div>

      <div class="  mt-4 text-white">
        <label class="flex items-center">
          <input type="checkbox" formControlName="terms" class="form-checkbox" />
          <span class="ml-2">I agree to the terms and conditions</span>
        </label>
        <div *ngIf="signupForm.get('terms')?.hasError('requiredTrue') && signupForm.get('terms')?.touched" class="text-danger">
          Please accept the terms and conditions.
        </div>
      </div>
<div>
</div>
      
<div class=" md:col-start-2 flex flex-col gap-2 mt-4 justify-end pt-8">
  <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md" [disabled]="signupForm.invalid">Register</button>
  
  <p class="text-center text-gray-300 text-sm mt-4">Already have an account? <a  routerLink="/login" class="text-blue-500 font-semibold">Login here</a></p>
</div>
</div>

<app-verification-otp *ngIf="showOtpComp" [companyData]="signupForm"></app-verification-otp>

   
      </form>
  </div>
</section>
