
<!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 p-4"> -->
  <!-- Repeat this block for additional cards -->
<div class="bg-gray-900 min-h-screen flex flex-col gap-6 p-4 " >

    <div class="chart-container  bg-white mt-6">
        <div class="p-4">
            <div class="text-red-500 font-kanit text-2xl">DEPARTMENTS DATA  :</div>
        </div>
        <canvas  id="MyChartTwo" >{{ chartTwo }}</canvas>
    </div>

    <div class="chart-container  bg-white">
        <canvas  id="MyChart" >{{ chart }}</canvas>
</div>




</div>



