/* Add your CSS here */

.card-container {
    position: relative;
}

.card {
    position: relative;
    height: 100%; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
    -webkit-perspective: 150rem;
    perspective: 150rem;
}

.card__side {
    height: 100%;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
}

.card__side--front {
    overflow-y: auto;

    /* background-color: #08686f; Adjust as needed */
}

.card__side--back {
    /* background-color: #212121; Adjust as needed */
    transform: rotateY(180deg);
    overflow-y: auto;
}

@media (max-width: 768px) {
    .card__side--back {
        max-height: 200px; /* Set maximum height */
    }
    .card__side--front {
        max-height: 200px;
    }
}

.card.flipped .card__side--front {
    transform: rotateY(-180deg);
}

.card.flipped .card__side--back {
    transform: rotateY(0);
}
